<template>
  <div class="main_app">
    <div class="popup_header">
      <img src="../assets/icon-w.png" class="img_logo">
      <h1>Chatterly for Chrome</h1>
    </div>
    <div class="popup_content">
      <h1>Quick Settings</h1>

      <div class="setting_row">
        <p>Press Ctrl+Q to translate</p>
        <label class="chatterly-switch">
        <input v-model="isTranslateEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isTranslateEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isTranslateEnabled">OFF</span>
        </span>
      </label>
      </div>

      <div class="setting_row">
        <p>Page Text Translation</p>
        <label class="chatterly-switch">
        <input v-model="isRatingEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isRatingEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isRatingEnabled">OFF</span>
        </span>
      </label>
      </div>

      <div class="setting_row">
        <p>Chatterly</p>
        <label class="chatterly-switch">
        <input v-model="isExtensionEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isExtensionEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isExtensionEnabled">OFF</span>
        </span>
      </label>
      </div>

    </div>

    <div class="popup_footer">
      <img src="../assets/share.png">
      <h1><a href="https://google.ca" >Share Chatterly with friends or collegue</a></h1>
    </div>
  </div>
</template>

<script>

import icon from "../assets/icon.png";
import "../assets/share.png";
import $ from "jquery";

//global vars
var storedVars= ["catchyEnabled","ratingEnabled","AutoTranslateEnabled"];

export default {
  name: 'popup',
  data () {
    return {
      msg: 'popup',
      isTranslateEnabled:true,
      isExtensionEnabled:true,
      isRatingEnabled:true,
    }
  },
  watch: {
      isExtensionEnabled: function(val) {
        console.log("extension enabled: "+this.isExtensionEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"catchyEnabled":this.isExtensionEnabled});          
      },
      isRatingEnabled: function(val) {
        console.log("rating enabled: "+this.isRatingEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"ratingEnabled":this.isRatingEnabled});

        var vm = this;
        //update content script
        chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
            chrome.tabs.sendMessage(tabs[0].id, {"command": "vote-settings-change", "value":vm.isRatingEnabled}, function(response) {
                console.log(response);
            });
        });          
      },
      isTranslateEnabled: function(val) {
        console.log("auto translate enabled: "+this.isTranslateEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"AutoTranslateEnabled":this.isTranslateEnabled});   

        var vm = this;
        //update content script
        chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
            chrome.tabs.sendMessage(tabs[0].id, {"command": "autotranslate-settings-change", "value":vm.isTranslateEnabled}, function(response) {
                console.log(response);
            });
        });       
      }
  },
  mounted: function () {  

    var vm = this;      
    //load stored data
    chrome.storage.local.get(storedVars,function(obj){

      if(obj == undefined || obj.catchyEnabled == undefined || obj.catchyEnabled == true)
      {
        vm.isExtensionEnabled = true;
      }
      else{
        vm.isExtensionEnabled = false;
      }

      if(obj == undefined || obj.ratingEnabled == undefined || obj.ratingEnabled == true)
      {
        vm.isRatingEnabled = true;
      }
      else{
        vm.isRatingEnabled = false;
      }

      if(obj == undefined || obj.AutoTranslateEnabled == undefined || obj.AutoTranslateEnabled == true)
      {
        vm.isTranslateEnabled = true;
      }
      else{
        vm.isTranslateEnabled = false;
      }

    });

  },
  updated(){ 
  
  },
  methods: {

  }
}

</script>

<style>
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url(../assets/fonts/Poppins-Black.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Light.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
  }
</style>

<style lang="less">
  body{
    margin:0;
  }
  img{
    width: 40px;
    margin-right: 10px;
  }
  .popup_footer{
    padding: 15px 10px;
    text-align: center;
    background-color: #ece9f0;
    background: rgba(67,38,105,.1);
    border: 1px solid rgba(67,38,104,.3);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 19px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      color: #4e3271;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-decoration: none;
    }
    h1{
      display: inline-block;
      margin: 0;
      padding: 0;
      all: unset;
    }
  }
  .main_app {
    min-width: 400px;
    .popup_header{
      background: linear-gradient(180deg, #623C95 0%, #372359 100%);
      padding: 17px;
      display: flex;
      align-items: center;
      h1{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: inline-block;
        margin: 5px;
      }    
      .img_logo{

      }
    }  
    .popup_content{
      padding: 17px;
      h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 25px;
      }
      .setting_row{
        padding: 3px;
        margin-bottom: 25px;
        label{
          float: right;
        }        
        p{
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 22px;
          display: inline-block;
          margin: 0;
        }
      }
    }

    .chatterly-switch {
      position: relative !important;
      display: inline-block !important;
      width: 46px !important;
      height: 23px !important;
      cursor: pointer  !important;
    }

    .chatterly-switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .chatterly-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      width: 46px !important;
      height: 23px !important;
    }

    .chatterly-slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2.5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .chatterly-slider {
      background-color: #1fe733;
    }

    input:focus + .chatterly-slider {
      box-shadow: 0 0 1px #1fe733;
    }

    input:checked + .chatterly-slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }

    /* Rounded sliders */
    .chatterly-slider.round {
      border-radius: 34px;
      background-color: #e5e5e5;
      margin: auto;
      display: inline-block;
    }

    .toggled_text{
      color: #fff!important;
      font-size: 10px!important;
      margin-left: 4px!important;
      position: absolute!important;
      line-height: 22px!important;
    }

    .toggled_text_off{
        right: 4px !important;
        font-weight: bold;
        font-size: 10px!important;
        margin-left: 4px!important;
        position: absolute!important;
        line-height: 22px!important;
    }

    .chatterly-slider.round:before {
      border-radius: 50%;

    }
  }
</style>
