<template>
  <div class="chatterly-popup-container" v-if="isRatingEnabled">
    <div class="chatterly-ui-header">
      <div class="chatterly-close-popup-btn" v-on:click="closePopup">x</div>
      <img class="chatterly-popup-logo">
      <h1>Chatterly for Chrome</h1>
    </div>

    <div class="ext-row">
        <hr class="styled-hr"/>
    </div>
    
    <div class="chatterly-translate-ui-popup">
      <p id="chatterly-text-translated">{{translatedText == '' ? "No text detected":translatedText}}</p>

    </div>

    <div class="chatterly-popup-footer">
      <label class="chatterly-switch">
        <input v-model="isRatingEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isRatingEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isRatingEnabled">OFF</span>
        </span>
      </label>

      <div class="voting-section">
        <div class="vote upvote" v-on:click="upvote"><img :style="{display: !isUpvoted ? 'inline-block' : 'none'}" src="../assets/upvote.png"><img :style="{display: isUpvoted ? 'inline-block' : 'none'}" src="../assets/upvote-active.png"></div>
        <div class="vote downvote" v-on:click="downvote"><img :style="{display: !isDownvoted ? 'inline-block' : 'none'}" src="../assets/downvote.png"><img :style="{display: isDownvoted ? 'inline-block' : 'none'}" src="../assets/downvote-active.png"></div>
      </div>


    </div>
  </div>
</template>

<script>

import icon from "../assets/icon.png";
import "../assets/upvote.png";
import "../assets/downvote.png";
import "../assets/upvote-active.png";
import "../assets/downvote-active.png";
import $ from "jquery";

export default {
  name: 'popup',
  data () {
    return {
      defaultLanguageSelection:1,
      isRatingEnabled:true,
      isDownvoted:false,
      isUpvoted:false,
      textRequested:'',
      textOriginal:'',
      translatedText:'',
    }
  },
  watch: {
      isRatingEnabled: function(val) {
        console.log("rating enabled: "+this.isRatingEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"ratingEnabled":this.isRatingEnabled});          
      },

  },
  mounted: function () {    
    $(".chatterly-popup-logo").attr("src", chrome.runtime.getURL('img/icon.png'));

    var vm = this;      
    //load stored data
    chrome.storage.local.get(['ratingEnabled'],function(obj){

      if(obj == undefined || obj.ratingEnabled == undefined || obj.ratingEnabled == true)
      {
        vm.isRatingEnabled = true;
      }
      else{
        vm.isRatingEnabled = false;
      }

    });
  },
  updated(){ 
          
  },
  methods: {
    closePopup: function(){
      $("#chatterly-translate-result-ui-popup-container").hide();

      //reset votings
      this.isDownvoted = false;
      this.isUpvoted = false;
    },
    upvote: function(){
      this.isUpvoted = true;
      this.isDownvoted = false;

      //send server request
      this.updateVote(1);
    },
    downvote: function(){
      this.isDownvoted = true;
      this.isUpvoted = false;
      this.updateVote(-1);
    },
    updateVote:function(num){

      //send update vote request
      chrome.runtime.sendMessage({"command": "update-vote", "num":num});           
    }
  }
}


</script>

<style>
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url(../assets/fonts/Poppins-Black.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Light.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
  }
</style>

<style lang="less">
  
  .chatterly-switch {
      position: relative !important;
      display: inline-block !important;
      width: 46px !important;
      height: 23px !important;
      cursor: pointer  !important;
    }

    .chatterly-switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .chatterly-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      width: 46px !important;
      height: 23px !important;
    }

    .chatterly-slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2.5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .chatterly-slider {
      background-color: #1fe733;
    }

    input:focus + .chatterly-slider {
      box-shadow: 0 0 1px #1fe733;
    }

    input:checked + .chatterly-slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }

    /* Rounded sliders */
    .chatterly-slider.round {
      border-radius: 34px;
      background-color: #e5e5e5;
      margin: auto;
      display: inline-block;
    }

    .toggled_text{
      color: #fff!important;
      font-size: 10px!important;
      margin-left: 4px!important;
      position: absolute!important;
      line-height: 22px!important;
    }

    .toggled_text_off{
        right: 4px !important;
        font-weight: bold;
        font-size: 10px!important;
        margin-left: 4px!important;
        position: absolute!important;
        line-height: 22px!important;
    }

    .chatterly-slider.round:before {
      border-radius: 50%;

    }
</style>

<style lang="less">

  .chatterly-popup-container{
    //reset all styling from other sites
    all: initial;
    * {
      all: unset;
    }

    background-color: white;
    width: 525px;
    display: block;    
    div{
      display: block;
    }

    .chatterly-ui-header{      
      display: flex;
      align-items: center;
      padding: 15px;
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: lighten(#623C95,10%);
        display: inline-block;
        margin: 0px;
      }
      .chatterly-close-popup-btn{
        color: lighten(#b5b5b5,5%);
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
      }
    } 

    .styled-hr{
      background-color: #ebebeb;
      height: 1px;
      width: 100%;
      display: block;
    }

    .chatterly-translate-ui-popup{
      padding: 15px 23px;
      max-height: 100px;
      overflow-y: auto;
      word-break: break-word;

      p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 57px;
        color: #000;
      }
    }

    .chatterly-popup-footer{
      padding: 15px;
      padding-top: 0px;
      img{
        width: 20px;
      }
      .voting-section{
        float: right;
        .vote{
          margin:0px 5px;
          cursor: pointer;
          float: left;
        }
      }
    }
  }
  
  
</style>

