<template>
  <div class="chatterly-close-popup-btn" v-on:click="closePopup">x</div>
  <div class="chatterly-translate-ui-popup">
    <div class="translate-ui-header">
      <h1>Press Ctrl+Q to translate</h1>
      <label class="chatterly-switch">
        <input v-model="isTranslateEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isTranslateEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isTranslateEnabled">OFF</span>
        </span>
      </label>
    </div>
    
    <p>Translate what you write to</p>

    <select class="chatterly-dropdown" v-model="defaultLanguageSelection">
      <option value="en">English</option>
      <option value="hi">Hindi</option>
    </select>

    <div class="translate-ui-header">
      <h1>Page Text Translation </h1>
      <label class="chatterly-switch">
        <input v-model="isRatingEnabled" type="checkbox">
        <span class="chatterly-slider round">
          <span class="toggled_text" v-if="isRatingEnabled">ON</span>
          <span class="toggled_text_off" v-if="!isRatingEnabled">OFF</span>
        </span>
      </label>
    </div>
    

    <button class="chatterly-btn" v-on:click="translate">Translate</button>
    <br/>



  </div>
</template>

<script>

import icon from "../assets/icon.png";
import $ from "jquery";

export default {
  name: 'popup',
  data () {
    return {
      msg: 'translate',
      defaultLanguageSelection:"en",
      isTranslateEnabled:true,
      isRatingEnabled:true,
    }
  },
  watch: {
      isTranslateEnabled: function(val) {
        console.log("auto translate enabled: "+this.isTranslateEnabled);
        //store enabled/disabled status
        chrome.storage.local.set({"AutoTranslateEnabled":this.isTranslateEnabled});          
      },
      isRatingEnabled: function(val) {
        var vm = this;

        //store enabled/disabled status
        chrome.storage.local.set({"ratingEnabled":this.isRatingEnabled}); 
                
      },
      defaultLanguageSelection: function(val){
        //store default language
        chrome.storage.local.set({"defaultLanguageSelection":this.defaultLanguageSelection}); 
      },
  },
  mounted: function () {    
    $(".option-row").click(function(){
      $(this).find("input").first().prop('checked', true);
    });

    var vm = this;      
    //load stored data
    chrome.storage.local.get(['AutoTranslateEnabled','ratingEnabled','defaultLanguageSelection'],function(obj){

      if(obj == undefined || obj.AutoTranslateEnabled == undefined || obj.AutoTranslateEnabled == true)
      {
        vm.isTranslateEnabled = true;
      }
      else{
        vm.isTranslateEnabled = false;
      }


      if(obj == undefined || obj.isRatingEnabled == undefined || obj.isRatingEnabled == true)
      {
        vm.isRatingEnabled = true;
      }
      else{
        vm.isRatingEnabled = false;
      }

      if(obj != undefined && obj.defaultLanguageSelection != undefined)
      {
        vm.defaultLanguageSelection = obj.defaultLanguageSelection;
      }
      else
      {
        vm.defaultLanguageSelection = "en";
      }

    });
  },
  updated(){ 
    $(".option-row").click(function(){
      $(this).find("input").first().prop('checked', true);
    })     
  },
  methods: {
    closePopup: function(){
      $("#chatterly-translate-ui-popup-container").hide();
    },
    translate: function(){
      $("#chatterly-translate-ui-popup-container").hide();

      var vm = this;
      //send translation request
      chrome.runtime.sendMessage({"command": "translate-request"});  
    },
  }
}


</script>

<style>
  @font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url(../assets/fonts/Poppins-Black.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Light.ttf) format("truetype");
     src: local("Poppins"),
     url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
  }
</style>

<style>
  @import '../assets/css/toggle-switch.css';
</style>

<style lang="less">
  .chatterly-close-popup-btn{
    color: lighten(#b5b5b5,5%);
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .chatterly-translate-ui-popup{

    //reset all styling from other sites
    all: initial;
    * {
      all: unset;
    }

    background: #FFFFFF;
    border-radius: 5px;
    padding: 25px;
    padding-right: 40px;
    display: block;

    p,span,h1,button,label,select,option{
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: lighten(#585858,10%);
           
    }

    .translate-ui-header{
      display: block;
      > label{
        float: right;
      }
      h1{
        margin-right: 10px;
      }
    }
    h1{
      color: #383838;
      font-size: 15px;
      margin-bottom: 10px;
      display: inline-block;
    }

    p,span{
      display: inline-block;
      margin-bottom: 10px; 
    }

    .option-row{
      display: flex;
      cursor: pointer;
      .radio-button{
        margin-right: 5px;
        margin-top: 2px;
      }
    }

    .chatterly-dropdown{
      border-radius:10px;
      padding:5px;
      border: 1px solid lighten(#c8c8c8,5%);
      width: 100%;
      color: lighten(#606060,10%);
      display: block;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .chatterly-btn{
      background: linear-gradient(180deg, #593688 0%, #422969 100%);
      border-radius: 6px;
      padding: 5px 17px;
      color: white;
      cursor: pointer;
      margin-top: 10px;
    }

    input[type=radio] {
      box-sizing: border-box;
      padding: 0;
    }

    input[type=radio] {
        font-size: 1rem;
        line-height: 1.5;
        padding:0;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0;
        outline: 0;
        background-color: transparent;
    }

    .radio-button__input {
        opacity: 0;
        position: absolute;
    }

    .radio-button__control {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: -12px;
        vertical-align: middle;
        background-color: inherit;
        color: #017b5f;
        border: 2px solid #7E5480;
        border-radius: 24px;
        margin-right: 0px;
    }

    .radio-button__input:checked+.radio-button__control:after {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 8px;
        height: 8px;
        background-color: #573585;
        border-radius: 12px;
    }

    .radio-button__input:checked+.radio-button__control {
        border-color: #573585;
    }

    .chatterly-slider:before {
      bottom: 2px;
    }

    select {
      -webkit-appearance:auto;
    }


  }

  
</style>

